<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>hello</h1>
    <div class="container">
        <form action="/result" method="POST">
            <label for="textArea">Enter Text:</label>
            <textarea id="text" name="text" rows="10" cols="50" placeholder="Type your text here..."></textarea>
    
            <br>
    
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>